@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    ;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 15px;
}

header nav ul li:hover {
    border-bottom: 3px solid #34B1C4;
    padding: 0;
    margin: 0 15px;
}
.drop-down-menu-button{
    display: none;
}


.header-logo p {
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none;
}

.header-logo span {
    color: #3DA2B5;
}

.background-img img {
    width: 100%;
    height: 600px;
    background-position: center;
    position: relative;
    z-index: -1;
}

.background-picture-wrapper {
    color: white;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 300px;
    left: 330px;
    z-index: 1;
    width: 300px;
    height: 130px;
    padding: 0 30px 20px 15px;
    font-size: 20px;
}

.background-picture-wrapper p {
    color: white;
    font-size: 29px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.background-picture-wrapper button {
    color: white;
    background-color: #008CBA;
    border: none;
    border-radius: 10px;
    padding: 8px 32px;
    cursor: pointer;
}

.wrapper-content {
    text-align: center;
    width: 60%;
}

.company-info {
    display: flex;
    justify-content: center;
}

.wrapper-content h2 {
    margin-bottom: 0;
}

.underline-h2 {
    border-bottom: 3px solid #34B1C4;
    width: 8%;
    margin: 0 auto;
}

.wrapper-content button {
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #454545;
    padding: 8px 25px;
}

.service-picture-wrapper {
    background-color: #EEF0F1;
    ;
}

.service-picture-wrapper h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: lighter;
    margin-bottom: 0;
}

.underline-h1 {
    border-bottom: 3px solid #454545;
    width: 5%;
    margin: 0 auto;
}

.service-content {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.first-pic-content {
    background-color: #FFFFFF;
}

.first-pic-content :first-child {
    margin-top: 0;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

.first-pic-content {
    text-align: center;
}

.first-pic-content button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #454545;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.second-pic-content {
    background-color: #FFFFFF;
}

.second-pic-content :first-child {
    margin-top: 0;
    padding-top: 10px;
    padding-top: 15px;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

.second-pic-content {
    text-align: center;
}

.second-pic-content button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #454545;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.third-pic-content {
    background-color: #FFFFFF;
}

.third-pic-content :first-child {
    margin-top: 0;
    padding-top: 15px;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

.third-pic-content {
    text-align: center;
}

.third-pic-content button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #454545;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.first-service-picture {
    width: 20%;
    margin: 20px;
}

.second-service-picture {
    width: 20%;
    margin: 20px;
}

.third-service-picture {
    width: 20%;
    margin: 20px;
}

.service-background-img img {
    width: 303px;
    position: relative;
    top: 3px;
}

.picture-content button {
    margin-bottom: 30px;
    cursor: pointer;
}

.logo, button, li {
    cursor: pointer;
}

.above-footer-content {
    background-color: #393F43;
    padding-bottom: 50px;
}

.above-footer-content h1 {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 20px;
    font-size: 27px;
}

.second-h1-underline {
    border-bottom: 2px solid white;
    width: 105px;
    margin: 0 auto;
}

.above-footer-content p {
    text-align: center;
    color: white;
}

form {
    text-align: center;
}

.input-text {
    width: 400px;
    background-color: #545A5E;
    border: none;
    height: 40px;
    border-radius: 5px;
}

.input-button {
    color: white;
    background-color: #6BBFFF;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 160px;
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
}

.footer-ul-items {
    background-color: #2F3539;
    padding-top: 0;
    color: white;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

.footer-ul-items ul {
    list-style: none;
}

.footer-ul-items ul li {
    padding: 8px;
}

.footer-ul-items ul li:first-child {
    font-weight: bold;
}

.fab {
    padding-right: 15px;
}

.last-footer {
    background-color: #262B2F;
    text-align: center;
    color: white;
}

.last-footer p {
    margin-top: 0;
    padding: 20px;
    margin-bottom: 0;
}

.footer-span {
    color: #028A9C;
}